.milestone::before {
  display: block;
}

.about-me-card {
    background-color: var(--white-100);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(var(--black-0-rgb), 0.1);
}

.about-me-card h3 {
    margin-bottom: 0.9rem;
}

.about-me-card-1 .para-1 {
  margin-bottom: 12px;
}